@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* Importing Other CSS Files */
@import url("./sections/header.css");
@import url("./sections/note-card.css");
@import url("./sections/add-note-modal.css");
@import url("./sections/edit-note-modal.css");

:root {
  --light: #fff;
  --less-light: #fcf0f0;
  --dark: #000;
  --less-dark: #141414;
  --blue: #0080ff;
  --blue-hover: #004284;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light) !important;
  font-family: "Poppins", sans-serif !important;
  transition: all 0.3s linear !important;
}

body.dark {
  --light: #000;
  --less-light: #141414;
  --dark: #fff;
  --less-dark: #fcf0f0;
}

button {
  outline: none;
  border: none;
}

.custom-container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
}

main {
  background-color: var(--less-light);
  border-radius: 20px;
  width: 100%;
  min-height: 88dvh;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
  transition: all 0.3s linear;
}

main .filter {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .filter h2 {
  font-size: 46px;
  font-weight: 500;
  color: var(--dark);
}

main .filter i {
  width: 35px;
  height: 35px;
  font-size: 28px;
  cursor: pointer;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
}

main .notes-container {
  width: 100%;
  height: max-content;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

button,
input,
optgroup,
select,
textarea {
  font-family: unset !important;
  line-height: unset !important;
}

.filter-modal {
  position: absolute;
  top: -50px;
  right: -300px;
  transform: rotate(90deg);
  width: 250px;
  background-color: var(--light);
  color: var(--dark);
  border-radius: 16px;
  border: 2px solid var(--dark);
  padding: 20px;
  transition: right 0.3s linear, top 0.3s linear, transform 0.3s linear;
  z-index: 1;
}

.filter-modal.active {
  transform: rotate(0deg);
  right: 20px;
  top: 80px;
}

.filter-modal form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.filter-modal form h4 {
  font-size: 18px;
}

.filter-modal label {
  display: flex;
  gap: 15px;
}

.filter-modal form .filter-modal__submit-button {
  width: 80px;
  height: 30px;
  background-color: var(--blue);
  outline: none;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
