@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* Importing Other CSS Files */
@import url("./sections/header.css");
@import url("./sections/note-card.css");
@import url("./sections/add-note-modal.css");
@import url("./sections/edit-note-modal.css");
@import url("./sections/filter-modal.css");

:root {
  --light: #fff;
  --less-light: #fcf0f0;
  --dark: #000;
  --less-dark: #141414;
  --blue: #0080ff;
  --blue-hover: #004284;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light) !important;
  font-family: "Poppins", sans-serif !important;
  transition: all 0.3s linear !important;
}

body.dark {
  --light: #000;
  --less-light: #141414;
  --dark: #fff;
  --less-dark: #fcf0f0;
}

button {
  outline: none;
  border: none;
}

.disabled {
  display: none !important;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-progress-bar,
body::-webkit-scrollbar-track {
  background-color: var(--light);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--dark);
}

.custom-container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
}

main {
  background-color: var(--less-light);
  border-radius: 20px;
  width: 100%;
  min-height: 88dvh;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
  transition: all 0.3s linear;
}

main .filter {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .filter h2 {
  font-size: 46px;
  font-weight: 500;
  color: var(--dark);
}

main .filter i {
  width: 35px;
  height: 35px;
  font-size: 28px;
  cursor: pointer;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
}

main .notes-container {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

button,
input,
optgroup,
select,
textarea {
  font-family: unset !important;
  line-height: unset !important;
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search__results__container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.search-results h3 {
  color: var(--dark);
}

.search-results__heading__span {
  color: var(--blue);
}

@media screen and (max-width: 860px) {
  .notes-container {
    flex-direction: column;
    align-items: center;
  }
}
